<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Sunsetly:find sunset/sunrise time</title>
  <link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
  <link rel="stylesheet" href="views/styles.css">
  <!-- <link rel="icon" href="./assets/favicon.ico" type="image/x-icon"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header class="header">
    <div class="text">
      <h3>Sunsetly</h3>
      <p>Find time for sunset/sunrise</p>
    </div>
  </header>

  <section>
    <div class="main-container">

      <form id="info" action="" method="GET">
        <label for="city-name">City&#160;</label>
        <input class="city-box" id="city-name" type="text" name="city-name" value="" placeholder="city" class="text-input" autocomplete="off" required></br>

        <label for="date">Date</label>
        <input class="date-box" id="date" type="date" name="date-input" placeholder="today">
        </br><input class="sumit" type="submit" value="submit">
      </form>
    </div>
    <div id="result"></div>
  </section>

  <script type="text/javascript" src="views/index.js"></script>
</body>

</html>
