/*mobile first*/

* {
  font-family: 'Spectral', serif;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./assets/backgroundimageMobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.header {
  text-align: center;
}

.main-container {
  margin: 45% auto;
  width: 80%;
  border: solid white 0.1rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.date-box, .city-box {
  width: 60%;
  font-size: 1rem;
}

label {
  color: white;
  font-size: 1.5rem;
}

.submit {}

.resultBox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3em;
  font-size: 1em;
  border: 2px solid #868286;
  margin-top: 1em;
}

.sunsetResult, .sunriseResult {
  width: 10px;
  height: 10px;
  border: solid 1rem red;
}

@@media (min-width: 700px) {}
